
.flex-container{
    display: flex;
    flex-wrap: nowrap;
}
.flex-container div{
    margin-left: 5%;
}
.intern-flex-container{
    display: flex;
    flex-wrap: nowrap;
}
.intern-flex-container div {
    margin-left: 2%;
}


